td, th {
  vertical-align: middle !important;
  text-align: center !important;
  color: #ecf0f1 !important;
}

tr:hover {
  background-color: #7f8c8d !important;
}

.input-group {
  margin: 20px 0px;
}

body {
  background-color: #34495e !important;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}
